@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
  width: 100vw;
  @apply bg-slate-200;
}

:root {
  --slate-2: rgb(226 232 240);
  --slate-3: rgb(203 213 225);
  --slate-6: rgb(71 85 105);
  --slate-7: rgb(51 65 85);
  --slate-8: rgb(30 41 59);
}

@layer header {
  .header {
    @apply bg-slate-800 text-purple-50 shadow-md shadow-slate-300 !important;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100vw;
  }
  .header_start {
    @apply flex justify-start p-1;
    border-bottom: 1px solid var(--slate-3) !important;
    min-width: 200px !important;
  }
  .header_center {
    @apply bg-slate-100 flex justify-between items-center pr-10 pl-5;
  }
  .company-title-logo {
    @apply mt-2 mb-2;
    height: 80%;
    width: 100px;
  }
  @layer mobile {
    .mobileDD {
      @apply bg-slate-800 fixed p-4 shadow-md !important;
      right: 0px;
      width: 240px;
    }
    .mobileDD > div {
      margin-top: 10px;
    }
  }
}

@layer images {
}

@layer sideNav {
  .sideNavContainer {
    @apply bg-slate-800 shadow-xl shadow-slate-700 pt-10 !important;
    display: grid;
    grid-template-rows: 5fr 1fr;
    min-width: 200px !important;
  }
  @layer DD_Buttons {
    .sidenav_toggleable {
      @apply flex flex-col place-items-center text-white !important;
    }
    /* button */
    .sidenav_toggleable > button {
      display: flex;
      height: 3.5rem;
      width: 90%;
      border: 2px solid var(--slate-7) !important;
      border-radius: 20px;
      padding: 12px !important;
    }
    .sidenav_toggleable > button:hover {
      background: var(--slate-6) !important;
    }
    .sidenav_toggleable > button > div {
      display: flex;
      justify-content: center;
    }
    /* dropdown */
    .toggleable_dropdown {
      @apply flex flex-row;
      width: 90%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 2px solid rgb(62, 79, 103) !important;
      border-top: 0px !important;
    }
    .toggleable_dropdown > a {
      display: block;
      height: 3rem;
      padding: 12px;
      width: 100%;
      text-align: center;
    }
    .toggleable_dropdown > a:hover {
      background: var(--slate-6) !important;
    }
    .toggleable_dropdown > a:last-child {
      padding-bottom: 2rem;
    }
  }
}

@layer dashboard {
  #dashboard {
    height: 94%;
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  .app_container {
    @apply m-6 bg-slate-100 shadow-md md:pr-10 md:pl-10 pb-10 rounded-md h-5/6 !important;
  }
  @layer sections {
    .section {
      width: 100%;
      height: 100%;
    }
    /* .smsection {
      width: 60vw;
    } */
    .sectionHeader {
      @apply bg-slate-600 mt-3 rounded-t-xl p-2 text-white;
    }
    @layer cards {
      .CardContainer {
        max-height: 60vh !important;
        overflow: auto;
        padding-bottom: 20px;
      }
      .CardBox:nth-child(odd) {
        background-color: var(--slate-2);
        border-right: 2px solid var(--slate-3) !important;
      }
      #card {
        margin-top: 10px;
      }
      #card > div {
        display: flex;
        align-items: center;
        border-right: 2px solid var(--slate-3) !important;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
      #card > div:nth-child(1) {
        margin-left: 14px;
      }
    }
    @layer buttons {
      .editBtn {
        padding: 5px !important;
        width: 60px;
        border: 2px solid var(--slate-7) !important;
        border-right: 2px solid rgb(230, 230, 236) !important;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 18px;
      }

      .deleteBtn {
        padding: 5px !important;
        width: 60px;
        border: 2px solid var(--slate-7) !important;
        border-left: none;
      }
    }
    @layer header_grids {
      .eventsGrid {
        display: grid;
        grid-template-columns: 1.2fr 1fr 0.5fr 2fr 1fr 1fr;
      }
      .drinksGrid {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr 1.6fr 1.6fr 0.5fr 1fr;
      }
      .foodGrid {
        display: grid;
        grid-template-columns: 0.8fr 1.2fr 0.4fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 1fr;
      }
      .mdGrid {
        display: grid;
        grid-template-columns: 0.6fr 1fr 0.5fr;
      }
      .smGrid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        margin: 10px;
      }
    }
  }
}

@layer modals {
  .modal_container {
    @apply fixed top-0 inset-0 bg-black bg-opacity-30 backdrop-blur-sm flex justify-center items-center text-white;
  }
  .modal {
    @apply shadow-md md:w-1/2 rounded-t-xl shadow-slate-600 !important;
    max-height: 60vh;
    width: 80vw;
  }
}

@layer HamToXBtn {
  #HTXB {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #HTXB span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #e4e4e4;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #HTXB span:nth-child(1) {
    top: 0px;
  }

  #HTXB span:nth-child(2),
  #HTXB span:nth-child(3) {
    top: 18px;
  }

  #HTXB span:nth-child(4) {
    top: 36px;
  }

  #HTXB.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #HTXB.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #HTXB.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #HTXB.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
